{% extends "app/base.html" %}


{% block header %}
    <h1>Surveyor
        <small>Control panel</small>
    </h1>
    {% if success %}
        <br/>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Success!</h4>
            Added to the Database
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Surveyor's List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12">

                    <table id="dynamic-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Block Area</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.last_name }}, {{ employee.first_name }}</td>
                            <td>{% for area in employee.block_area.all %}{{ area }}, {% endfor %}</td>
                            <td>
                                <a href="{% url 'meter-reading' %}?employee={{ employee.id }}" class="btn btn-sm btn-primary">Add Collections</a>
                                <a href="{% url 'collections' %}?employee={{ employee.id }}" class="btn btn-sm btn-warning">View Collections</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Block Area</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}